#myheader {
  padding: 8px;
  margin: -10px;
  font-size: 28px;
  color: #eee;
  text-align: center;
  background-image: url(../images/ep_naturalblack.png);
}

#menu {
  font-size: 24;
  background-color: transparent;
  position: absolute;
  margin-top: -25px;
  font-family: monospace;
  top: 45px;
}

li a:hover {
  background: black;
}

li {
  display: inline;
  font-size: 15px;
}

li a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

body {
  background-image: url(../images/cdn.jpg);
}

h2 {
  color: white;
}

#portfoliocard1 {
  border: solid #ccff00;
  padding: 10px;
  margin: 40px;
  text-align: center;
}

#portfoliocard2 {
  border: solid #ccff00;

  margin: 40px;
  text-align: center;
}

#portfoliocard3 {
  border: solid #ccff00;

  margin: 40px;
  text-align: center;
}

#portfoliocard4 {
  border: solid #ccff00;

  margin: 40px;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  li {
    font-size: xx-small;
  }
}

@media only screen and (max-width: 768px) {
  li {
    font-size: xx-small;
  }
}

@media only screen and (max-width: 980px) {
  li {
    font-size: small;
  }
}
